body{

background-color: coral;
}
h1{
    text-transform: uppercase; 
    text-align: center;
    
    height: 20px;
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    color: rgb(14, 18, 233);
    
}

nav ul li {

    display: inline;
    margin-left: 20px;
    border-right: 2px solid black ;
    

}
h2 , p{
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    height: 20px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
p{
border: 2px solid black;
text-align: center;
border-radius: 8px;
background-color: cornsilk;

}